@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

body {
  display: grid;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

*, button {
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
}

.left {
  border-right: 5px solid rgb(216, 215, 215);
  border-radius: 3px;
}

.right-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 50vw;
}

.right-container > * {
  margin-bottom: 15px;
}

.App {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.half {
  width: 50vw;
  height: calc(100vh - 20px);
  display: grid;
  justify-content: center;
  align-items: center;
}

.editor-container {
  width: 40vw;
  height: 75vh;
  border: 5px solid rgb(216, 215, 215);
  padding: 20px;
  border-radius: 3px;
}

.editor {
  width: 40vw;
  height: 70vh;
}

.name-input {
  padding: 10px;
  border: 5px solid rgb(216, 215, 215);
  border-radius: 3px;
}

.bookmarklet {
  padding: 6px;
  border: 5px solid rgb(216, 215, 215);
  border-radius: 3px;
  height: 45px;
}

.bookmarklet, p {
  text-align: center;
}

a[href] {
  color: rgb(68, 163, 163);
  text-decoration: underline;
}

a[href]:hover {
  color: darkcyan
}

button {
  padding: 5px;
  border: 5px solid rgb(216, 215, 215);
  border-radius: 3px;
  background-color: rgb(230, 227, 227);
  cursor: pointer;
  transition: all .1s ease;
}

button:hover {
  color: rgb(124, 124, 218);;
  border-color: rgb(235, 232, 232);
}

button:active {
  background-color: lightgray;
  border-color: gray;
}

.empty {
  color: rgb(247, 122, 143) !important;
  cursor: not-allowed;
}

@media(max-width: 600px) {
  .half {
    width: 100vw;
    height: calc(50vh - 35px);
  }

  .App {
    display: grid;
  }

  .left {
    border-right: none;
    border-bottom: 5px solid rgb(216, 215, 215);
  }

  .editor {
    width: 90vw;
    height: 30vh;
    font-size: .6rem;
  }

  .editor-container {
    width: 90vw;
    height: 35vh;
    padding: 0;
    margin-bottom: 10px;
  }
}